<%- include ('../_layouts/adminheader') %>
<h2 class="page-title text-center mt-3">Editar Producto</h2>
<br>
<br>
<a href="/admin/categories" class="btn btn-primary primbuts">Volver a Todos Los Productos</a>
<br>
<br>
<form method="post" action="/admin/categories/edit-category/<%= id %>" enctype="multipart/form-data">
   <div class="form-group">
        <label for="">Categoria</label>   
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">      
   </div> 
   <br>

   <br>


   <div class="form-group">
      <label for="">Imagen actual</label>
      <p>
         <% if (image == "") {%>
            <img id="noimage" src="/images/noimage.png">
         <% }  else {%>
            <img class="img-fluid" id="noimage" src="/category_images/<%= id %>/<%= image %>">
         <% } %>
      <p>
   </div>
   <br>
   
   
    <div class="form-group">
<div class="upload-btn-wrapper">
  <button class="btn file-btn">
<i class="fi-xnsuxl-file-jpg-solid"></i>
    Upload a file</button>
  <input type="file" name="image" id="img" />
</div>
      <img src="#" id="imgPreview">
   </div>
   
   
   <br>

   <input name="pimage" type="hidden" value="<%= image %>">
   <button type="submit" class="btn btn-secondary primbuts">Submit</button>
</form>



<br>


   
<script>

// PREVIEW IMAGE
   function readUrl (input) {
      if (input.files && input.files[0]) {
         var reader = new FileReader();

         reader.onload = function (e){
            $('#imgPreview').attr('src',e.target.result).width(100).height(100);
         }
         reader.readAsDataURL(input.files[0]);
      }
   }

   $('#img').change(function (){
    readUrl(this);
   });




</script>
<%- include ('../_layouts/adminfooter') %>

