<%- include ('./_layouts/header') %>


  <% if (count > 0) {%>
  
<div class="row products">
    <% products.forEach((p) => { %>
        <div class="col-xm-12 col-md-4 p-cont">
            <a class="pa" href="/products/<%= p.category%>/<%= p.slug%>">
                <img class="pimage" src="/product_images/<%= p.id%>/<%= p.image %>">
            </a>
            <h5 class=ptit><%= p.title %></h5>
            <h6 class="ppric sectext"><%= parseFloat(p.price).toFixed(2)%> €</h6>
            <a class="vd primtext" href="/products/<%= p.category %>/<%= p.slug %>">Ve Detalles</a>
        </div>
   <% }) %>
</div>

   <% } else {%>
            <h3 class="text-center
            " style="margin-bottom: 250px">No hay productos</h3>
        <% } %>

<%- include ('./_layouts/footer') %>